html
  head
    title= title
    link(href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=EB+Garamond&family=Inconsolata&family=Martel:wght@200&display=swap' rel='stylesheet')
    style
        include ../public/stylesheets/preview.css
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  body
    .container
        h1 Verify Your Details!!
        pre#cont=body
        //- button(type='button' onclick='show_image("",276,110,"Not Found")') Display ID Card
        button(type='button' onclick='myFun()') Submit Now
    
    script.
        function myFun(){
            var dat=document.getElementById("cont").innerHTML;
            $.ajax({
                type: 'POST',
                url: '/register',
                data: dat,
                success: function (item) {alert(item.message)},
                contentType: "application/json",
                dataType: 'json'
            });
        }
        //- function show_image(src, width, height, alt) {
        //-     var img = document.createElement("img");
        //-     src=document.getElementById("cont").userPhoto;
        //-     img.src = src;
        //-     img.width = width;
        //-     img.height = height;
        //-     img.alt = alt;
        //-     var myWindow = window.open("", "", "width=400,height=200");
        //-     myWindow.document.body.appendChild(img);
        //- }


