
        * {
            margin: 0px;
            padding: 0px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'EB Garamond', serif;
            font-family: 'Inconsolata', monospace;
            font-family: 'Martel', serif;
            font-size: 100%;
        }

        .container {
            margin: 30px auto;
            padding: 92px 4px;
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 100%;
            background-color: rgb(199, 199, 199);
            border-radius: 4px;
        }

        label,
        #im {
            display: block;
        }

        h1 {
            margin: 40px auto;
            margin-top: 0px;
            font-size: 180%;
            ;
        }

        input {
            width: 100%;
            margin: 8px 0px;
            padding: 6px 3px;
            border: 1.5 px solid black;
            border-radius: 2px;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        button {
            width: 100%;
            margin: 8px 0px;
            padding: 6px 0px;
        }
        button:hover{
            background-color: black;
            color:white;
            cursor: pointer;
        }

        .items {
            display: flex;
            flex-direction: row;
            margin: 3px 4px;
        }

        .rType {
            width: 10%;
        }

        body:before {
            background: url(../images/ac.jpg) no-repeat center center/cover;
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 160vh;
            z-index: -1;
            opacity: 0.9;
        }
    